{% extends "layout.html" %}
{% block content %}
    <title>Files</title>
    <table border = 1; width=100%>
         <tr>
             {% for name in names %}
                 <th>{{name}}</th>
             {% endfor %}
         </tr>
         {% for row in rows %}
            <tr>
                {% for key in keys %}
                    <td>{{row[key]}}</td>
                {% endfor %}
            </tr>
         {% endfor %}
    </table>

    <a href = "{{ url_for('home') }}">Go back to home page</a>
{% endblock content %}