{% extends "layout.html" %}
{% block content %}
    <title>Home</title>
    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun </p>
    <div><p id='para1'> This is a paragraph </p></div>
    <button type="button" onclick="document.getElementById('demo').innerHTML = Date()">Click me to display Date and Time</button>
    <p id="demo"></p>
    <div id="map-wrapper">
        <div id="map"></div>
        <div id="button-wrapper">
            <input type="button" id="export" value="Export" class="button" onsubmit="action();"/>
            <button id="import">Import</button>
            <input id="file-select" type="file" style="display: none;" /> <span id="warning"></span>
         </div>

    </div>

    <p><a href="{{ url_for('list') }}" target="_blank">list files</a></p>
{% endblock content %}